.env
.env.local

/storage/product_images/*
!/storage/product_images/default-product.svg
!/storage/product_images/.gitkeep
/storage/store_logos/*
!/storage/store_logos/default-store.svg
!/storage/store_logos/.gitkeep
/storage/review_images/*

*.log
*.pid
*.tmp
*.lock

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

node_modules
index-*

GEMINI.md