.env
.env.local

/storage/product_images/*
!/storage/product_images/default-product.png
!/storage/product_images/.gitkeep
/storage/store_logos/*
!/storage/store_logos/default-store.png
!/storage/store_logos/.gitkeep

*.log
*.pid
*.tmp
*.lock

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini